@page "/"
@using JiraPoker.Core.Presentation.HomeView


<section>
    <button @onclick="OnCreateNewSession">Create new session</button>   
</section>

@if (Presentation.DisplayCreateNewSessionModal)
{
    <NewSessionModal
        OnClose="OnModalClose"
        OnSave="OnModalSave"/>
}

@if (Presentation.CurrentUser != null)
{
    <div>
        You are currently logged in as @Presentation.CurrentUser.Name
    </div>   
    <div>
        Organization @Presentation.CurrentUser.Organization
    </div>   
}

<section>
    
</section>


@inherits PresentationPageBase<IHomeViewPresentationLayer>
@code
{
    public override void OnReady()
    {
        
    }

    void OnCreateNewSession() => Presentation.OnCreateNewSession();
    void OnModalClose() => Presentation.OnCreateNewSessionModalClose();
    void OnModalSave() => Presentation.OnCreateNewSessionModalSave();
}
